{% extends "base.html" %} 
{% block content %}
<main>
  <div class="container">
    <div class="table-responsive text-nowrap">
      <h2>Order Summary</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Title</th>
            <th scope="col">Price</th>
            <th scope="col">Discount Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>   
          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>${{ order_item.item.price }}</td>
            <td>
              {% if order_item.item.discount_price %}
              ${{ order_item.item.discount_price }}</td>
              {% else %}
              
              {% endif %}
            <td>{{ order_item.quantity }}</td>
            <td>
              {% if order_item.item.discount_price %}
                ${{ order_item.get_total_discount_item_price }}
                <span class="badge badge-pill badge-default ml-1">Saving ${{ order_item.get_amount_saved }}</span>
                
              {% else %}
                ${{ order_item.get_total_item_price }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tr>
          <th scope="row">SUM</th>
          <td></td>
          <td></td>
          <td>??</td>
          <td>???</td>
          <td>????</td>
        </tr>
      </table>
    
    </div>
  </div>
</main>
<!--Main layout-->

{% endblock content %}
